/*! CSS Used from: Embedded */
*,*:before,*:after{box-sizing:border-box;}
body{margin:0;font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{margin:0;padding:0;overflow-x:hidden;}
body{font-family:Poppins,sans-serif!important;font-size:1rem;font-weight:500;line-height:1.4;color:#000;background:#ffffff;}
/*! CSS Used from: https://web3.wsmcasino.com/styles.a12bb1ed7d12506f.css ; media=all */
@media all{
*,*:before,*:after{box-sizing:border-box;}
body{margin:0;font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
hr{margin:1rem 0;color:inherit;border:0;border-top:var(--bs-border-width) solid;opacity:.25;}
h3,h2{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;color:var(--bs-heading-color);}
h2{font-size:calc(1.325rem + .9vw);}
@media (min-width: 1200px){
h2{font-size:2rem;}
}
h3{font-size:calc(1.3rem + .6vw);}
@media (min-width: 1200px){
h3{font-size:1.75rem;}
}
p{margin-top:0;margin-bottom:1rem;}
a{color:rgba(var(--bs-link-color-rgb),var(--bs-link-opacity, 1));text-decoration:underline;}
a:hover{--bs-link-color-rgb:var(--bs-link-hover-color-rgb);}
img,svg{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button,[type=button]{-webkit-appearance:button;}
button:not(:disabled),[type=button]:not(:disabled){cursor:pointer;}
iframe{border:0;}
.img-fluid{max-width:100%;height:auto;}
.container,.container-fluid{--bs-gutter-x:1.5rem;--bs-gutter-y:0;width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-right:auto;margin-left:auto;}
@media (min-width: 576px){
.container{max-width:540px;}
}
@media (min-width: 768px){
.container{max-width:720px;}
}
@media (min-width: 1025px){
.container{max-width:960px;}
}
@media (min-width: 1200px){
.container{max-width:1140px;}
}
@media (min-width: 1440px){
.container{max-width:1320px;}
}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x));}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width: 768px){
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-7{flex:0 0 auto;width:58.33333333%;}
}
@media (min-width: 1025px){
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-7{flex:0 0 auto;width:58.33333333%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
.col-lg-10{flex:0 0 auto;width:83.33333333%;}
.col-lg-12{flex:0 0 auto;width:100%;}
}
.btn{--bs-btn-padding-x:1rem;--bs-btn-padding-y:.75rem;--bs-btn-font-size:1rem;--bs-btn-font-weight:400;--bs-btn-line-height:1.4;--bs-btn-color:var(--bs-body-color);--bs-btn-bg:transparent;--bs-btn-border-width:2px;--bs-btn-border-color:transparent;--bs-btn-border-radius:999px;--bs-btn-hover-border-color:transparent;--bs-btn-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);--bs-btn-disabled-opacity:.65;--bs-btn-focus-box-shadow:0 0 0 .25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);display:inline-block;padding:var(--bs-btn-padding-y) var(--bs-btn-padding-x);font-family:var(--bs-btn-font-family);font-size:var(--bs-btn-font-size);font-weight:var(--bs-btn-font-weight);line-height:var(--bs-btn-line-height);color:var(--bs-btn-color);text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;user-select:none;border:var(--bs-btn-border-width) solid var(--bs-btn-border-color);border-radius:var(--bs-btn-border-radius);background-color:var(--bs-btn-bg);transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.btn{transition:none;}
}
.btn:hover{color:var(--bs-btn-hover-color);background-color:var(--bs-btn-hover-bg);border-color:var(--bs-btn-hover-border-color);}
.btn:first-child:active{color:var(--bs-btn-active-color);background-color:var(--bs-btn-active-bg);border-color:var(--bs-btn-active-border-color);}
.btn:disabled{color:var(--bs-btn-disabled-color);pointer-events:none;background-color:var(--bs-btn-disabled-bg);border-color:var(--bs-btn-disabled-border-color);opacity:var(--bs-btn-disabled-opacity);}
.btn-primary{--bs-btn-color:#000000;--bs-btn-bg:#AE8625;--bs-btn-border-color:#AE8625;--bs-btn-hover-color:#000000;--bs-btn-hover-bg:#ba9846;--bs-btn-hover-border-color:#b6923b;--bs-btn-focus-shadow-rgb:148, 114, 31;--bs-btn-active-color:#000000;--bs-btn-active-bg:#be9e51;--bs-btn-active-border-color:#b6923b;--bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);--bs-btn-disabled-color:#000000;--bs-btn-disabled-bg:#AE8625;--bs-btn-disabled-border-color:#AE8625;}
.dropdown{position:relative;}
.dropdown-toggle{white-space:nowrap;}
.dropdown-toggle:after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty:after{margin-left:0;}
.btn-group{position:relative;display:inline-flex;vertical-align:middle;}
.btn-group{border-radius:999px;}
.card{--bs-card-spacer-y:1rem;--bs-card-spacer-x:1rem;--bs-card-title-spacer-y:.5rem;--bs-card-border-width:var(--bs-border-width);--bs-card-border-color:var(--bs-border-color-translucent);--bs-card-border-radius:var(--bs-border-radius);--bs-card-inner-border-radius:calc(var(--bs-border-radius) - (var(--bs-border-width)));--bs-card-cap-padding-y:.5rem;--bs-card-cap-padding-x:1rem;--bs-card-cap-bg:rgba(var(--bs-body-color-rgb), .03);--bs-card-bg:var(--bs-body-bg);--bs-card-img-overlay-padding:1rem;--bs-card-group-margin:.75rem;position:relative;display:flex;flex-direction:column;min-width:0;height:var(--bs-card-height);color:var(--bs-body-color);word-wrap:break-word;background-color:var(--bs-card-bg);background-clip:border-box;border:var(--bs-card-border-width) solid var(--bs-card-border-color);border-radius:var(--bs-card-border-radius);}
.progress{--bs-progress-height:1rem;--bs-progress-font-size:.75rem;--bs-progress-bg:var(--bs-secondary-bg);--bs-progress-border-radius:var(--bs-border-radius);--bs-progress-box-shadow:var(--bs-box-shadow-inset);--bs-progress-bar-color:#ffffff;--bs-progress-bar-bg:#AE8625;--bs-progress-bar-transition:width .6s ease;display:flex;height:var(--bs-progress-height);overflow:hidden;font-size:var(--bs-progress-font-size);background-color:var(--bs-progress-bg);border-radius:var(--bs-progress-border-radius);}
.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-none{display:none!important;}
.position-relative{position:relative!important;}
.w-100{width:100%!important;}
.h-100{height:100%!important;}
.flex-row{flex-direction:row!important;}
.flex-column{flex-direction:column!important;}
.flex-wrap{flex-wrap:wrap!important;}
.justify-content-start{justify-content:flex-start!important;}
.justify-content-end{justify-content:flex-end!important;}
.justify-content-center{justify-content:center!important;}
.justify-content-between{justify-content:space-between!important;}
.align-items-center{align-items:center!important;}
.m-0{margin:0!important;}
.mx-1{margin-right:.25rem!important;margin-left:.25rem!important;}
.mx-auto{margin-right:auto!important;margin-left:auto!important;}
.my-2{margin-top:.5rem!important;margin-bottom:.5rem!important;}
.my-4{margin-top:1.5rem!important;margin-bottom:1.5rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.me-2{margin-right:.5rem!important;}
.mb-0{margin-bottom:0!important;}
.mb-2{margin-bottom:.5rem!important;}
.mb-3{margin-bottom:1rem!important;}
.mb-4{margin-bottom:1.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
.ms-1{margin-left:.25rem!important;}
.ms-2{margin-left:.5rem!important;}
.ms-3{margin-left:1rem!important;}
.p-0{padding:0!important;}
.p-3{padding:1rem!important;}
.p-4{padding:1.5rem!important;}
.px-2{padding-right:.5rem!important;padding-left:.5rem!important;}
.px-3{padding-right:1rem!important;padding-left:1rem!important;}
.py-2{padding-top:.5rem!important;padding-bottom:.5rem!important;}
.pt-0{padding-top:0!important;}
.pt-1{padding-top:.25rem!important;}
.pt-2{padding-top:.5rem!important;}
.pt-4{padding-top:1.5rem!important;}
.pb-2{padding-bottom:.5rem!important;}
.pb-4{padding-bottom:1.5rem!important;}
.ps-2{padding-left:.5rem!important;}
.gap-2{gap:.5rem!important;}
.gap-3{gap:1rem!important;}
.fw-light{font-weight:300!important;}
.fw-bold{font-weight:700!important;}
.text-start{text-align:left!important;}
.text-center{text-align:center!important;}
.text-decoration-none{text-decoration:none!important;}
.text-uppercase{text-transform:uppercase!important;}
.text-capitalize{text-transform:capitalize!important;}
.text-primary{--bs-text-opacity:1;color:rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;}
.text-tertiary{--bs-text-opacity:1;color:rgba(var(--bs-tertiary-rgb),var(--bs-text-opacity))!important;}
.text-info{--bs-text-opacity:1;color:rgba(var(--bs-info-rgb),var(--bs-text-opacity))!important;}
.text-danger{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;}
.text-black{--bs-text-opacity:1;color:rgba(var(--bs-black-rgb),var(--bs-text-opacity))!important;}
.text-white{--bs-text-opacity:1;color:rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;}
.text-light-dark{--bs-text-opacity:1;color:rgba(var(--bs-light-dark-rgb),var(--bs-text-opacity))!important;}
.text-mid-grey{--bs-text-opacity:1;color:rgba(var(--bs-mid-grey-rgb),var(--bs-text-opacity))!important;}
.bg-tertiary{--bs-bg-opacity:1;background-color:rgba(var(--bs-tertiary-rgb),var(--bs-bg-opacity))!important;}
.bg-info{--bs-bg-opacity:1;background-color:rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important;}
.bg-black{--bs-bg-opacity:1;background-color:rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;}
.z-2{z-index:2!important;}
@media (min-width: 576px){
.d-sm-flex{display:flex!important;}
.px-sm-2{padding-right:.5rem!important;padding-left:.5rem!important;}
}
@media (min-width: 768px){
.d-md-flex{display:flex!important;}
.flex-md-row{flex-direction:row!important;}
.mt-md-0{margin-top:0!important;}
.mt-md-3{margin-top:1rem!important;}
.mb-md-0{margin-bottom:0!important;}
.mb-md-3{margin-bottom:1rem!important;}
.mb-md-5{margin-bottom:3rem!important;}
}
@media (min-width: 1025px){
.flex-lg-row{flex-direction:row!important;}
.justify-content-lg-start{justify-content:flex-start!important;}
.justify-content-lg-end{justify-content:flex-end!important;}
.me-lg-5{margin-right:3rem!important;}
.mb-lg-0{margin-bottom:0!important;}
.ps-lg-3{padding-left:1rem!important;}
}
.font-9{font-size:9px!important;}
.font-10{font-size:10px!important;}
.font-11{font-size:11px!important;}
.font-12{font-size:12px!important;}
.font-13{font-size:13px!important;}
.font-14{font-size:14px!important;}
.font-16{font-size:16px!important;}
.font-20{font-size:20px!important;}
.font-28{font-size:28px!important;}
.wx-20{width:20px!important;}
.wx-200{width:200px!important;}
.btn{line-height:1;transition:all .25s ease-in-out;font-weight:500;}
.language .dropdown-toggle:after{border:0!important;transform:rotate(180deg);padding-bottom:5px;content:url(https://web3.wsmcasino.com/assets/images/svg-icons/up-chevron.svg);}
body{margin:0;padding:0;overflow-x:hidden;}
body{font-family:Poppins,sans-serif!important;font-size:1rem;font-weight:500;line-height:1.4;color:#000;background:#ffffff;}
::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{border-radius:0;background:#ffffff;}
::-webkit-scrollbar-thumb{background:#c6c6c6;border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background:#000000;}
::-webkit-scrollbar-thumb:active{background:#000000;}
:focus{outline:none;}
a{transition:all .25s ease-in-out;}
a:focus{outline:none;}
a:hover{text-decoration:none!important;}
.container{width:97%;max-width:1150px;}
.btn.btn-primary{color:#000;text-align:center;font-size:14px;padding:12px 20px;font-weight:600;background:#ffffff;box-shadow:2px 2px #00000040;border-radius:8px;border:2px solid #272727;height:41px;}
@media screen and (max-width: 576px){
.btn.btn-primary{padding:5px;font-size:13px;width:100%;}
}
.btn.btn-primary:disabled{opacity:.5;}
.btn.btn-primary:hover,.btn.btn-primary:active,.btn.btn-primary:focus{opacity:.9;}
.cursor-pointer{cursor:pointer!important;}
.connect-btn{border-radius:11px;}
.popover__wrapper{position:relative;}
.popover__content{opacity:0;visibility:hidden;position:absolute;transform:translateY(10px);background-color:#fff;padding:12px;border-radius:8px;box-shadow:0 2px 8px #00000040;max-width:300px;top:60px;right:0;left:auto;width:244px;border:1px solid #e8e8e8;z-index:1;}
.popover__content p{font-size:13px;line-height:20px;}
.popover__content :before{position:absolute;z-index:-1;content:"";right:5px;top:-7px;border-style:solid;border-width:0 8px 8px 8px;border-color:transparent transparent #ffffff transparent;transition-duration:.3s;transition-property:transform;}
.popover__wrapper:hover .popover__content{z-index:10;opacity:1;visibility:visible;transform:translateY(-20px);transition:all .2s cubic-bezier(.75,-.02,.2,.97);}
.popover__message{color:#202020;white-space:pre-wrap;letter-spacing:.75px;line-height:1.1;font-size:12px;}
}
/*! CSS Used from: Embedded */
.w3a-parent-container *,.w3a-parent-container :after,.w3a-parent-container :before{border:0 solid #e5e7eb;box-sizing:border-box;}
.w3a-parent-container :after,.w3a-parent-container :before{--tw-content:"";}
.w3a-parent-container :disabled{cursor:default;}
.w3a-parent-container *,.w3a-parent-container :after,.w3a-parent-container :before{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#3b82f680;--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
/*! CSS Used from: Embedded */
.wrapper[_ngcontent-ng-c1290851140]{height:100vh;overflow:hidden;}
.wrapper[_ngcontent-ng-c1290851140]   .left[_ngcontent-ng-c1290851140]{background:#f5f5f5;height:100%;}
.wrapper[_ngcontent-ng-c1290851140]   .right[_ngcontent-ng-c1290851140]{width:100%;height:100%;overflow-y:scroll;position:relative;scroll-behavior:smooth;}
/*! CSS Used from: Embedded */
.sidebar-wrap[_ngcontent-ng-c633579045]{padding:16px 0;}
.sidebar-wrap[_ngcontent-ng-c633579045]   hr[_ngcontent-ng-c633579045]{background:#9a9a9a;height:2px;opacity:1;width:80%;margin:5px auto;border:1px solid #9a9a9a;}
a[_ngcontent-ng-c633579045]   img[_ngcontent-ng-c633579045]{height:20px;}
a[_ngcontent-ng-c633579045]   .arrow[_ngcontent-ng-c633579045]{height:unset;}
a[_ngcontent-ng-c633579045]   p[_ngcontent-ng-c633579045]{color:#0d0d0d;font-weight:400;}
.wrap[_ngcontent-ng-c633579045]{position:relative;width:240px;transition:all .3s;height:100vh;}
@media screen and (max-width: 576px){
.wrap[_ngcontent-ng-c633579045]{position:fixed;left:0;z-index:6;background:#f5f5f5;}
}
.wrap[_ngcontent-ng-c633579045]   p[_ngcontent-ng-c633579045]{white-space:nowrap;line-height:1;}
.wrap[_ngcontent-ng-c633579045]   .active[_ngcontent-ng-c633579045]{font-weight:700;}
.wrap.expand[_ngcontent-ng-c633579045]   .menu-item[_ngcontent-ng-c633579045]{margin-left:5px;}
.wrap.expand[_ngcontent-ng-c633579045]   .menu-item[_ngcontent-ng-c633579045]:hover{background:#ffffff;border-radius:5px;}
.wrap.expand[_ngcontent-ng-c633579045]   .collapsed-left-btn[_ngcontent-ng-c633579045]{display:block;}
.wrap.expand[_ngcontent-ng-c633579045]   .collapsed-right-btn[_ngcontent-ng-c633579045]{display:none;}
.wrap.expand[_ngcontent-ng-c633579045]   .top[_ngcontent-ng-c633579045]{background:#ffffff;border-radius:24px;padding:10px 20px;transition:all .1s;width:208px;margin:0 auto;}
.wrap[_ngcontent-ng-c633579045]   .list-wrapper[_ngcontent-ng-c633579045]{height:calc(100vh - 70px);overflow:auto;}
.collapsed-left-btn[_ngcontent-ng-c633579045]{position:absolute;top:60px;left:220px;z-index:6;}
.coming-soon[_ngcontent-ng-c633579045]{-webkit-user-select:none;user-select:none;}
.coming-soon[_ngcontent-ng-c633579045]   span[_ngcontent-ng-c633579045]{background:#AE8625;color:#fff!important;font-size:10px;padding:3px 10px;border-radius:13px;margin-left:5px;margin-top:48px;}
/*! CSS Used from: Embedded */
.header[_ngcontent-ng-c3994083465]{box-shadow:0 2px 4px -1px #0000001f,0 4px 6px -1px #0003;padding:15px 60px;position:sticky;left:0;width:100%;top:0;z-index:5;background:#fff;}
@media screen and (max-width: 576px){
.header[_ngcontent-ng-c3994083465]{left:0;position:fixed;padding:15px 0 15px 60px;}
}
@media screen and (max-width: 576px){
.header[_ngcontent-ng-c3994083465]   a[_ngcontent-ng-c3994083465]{display:flex;justify-content:center;}
}
.header[_ngcontent-ng-c3994083465]   .login[_ngcontent-ng-c3994083465]{border-radius:4px;border:1px solid #000000;background:#ffffff;box-shadow:0 2px 4px #00000080;color:#000;font-weight:700;height:42px;min-width:80px;padding:10px 15px;text-wrap:nowrap;}
@media screen and (max-width: 576px){
.header[_ngcontent-ng-c3994083465]   .login[_ngcontent-ng-c3994083465]{padding:5px 10px;}
}
.header[_ngcontent-ng-c3994083465]   .connect-btn[_ngcontent-ng-c3994083465]{min-width:128px;background-color:#000;border-radius:4px;padding:10px 15px;color:#fff;cursor:pointer;height:42px;box-shadow:0 2px 4px #00000080;}
.header[_ngcontent-ng-c3994083465]   .language[_ngcontent-ng-c3994083465]{padding:10px 0;margin:0 16px 0 0;border-radius:0;background:rgba(255,255,255,.15);text-decoration:none;letter-spacing:.02em;text-transform:capitalize;font-weight:500;}
.header[_ngcontent-ng-c3994083465]   .language[_ngcontent-ng-c3994083465]   .dropdown-toggle[_ngcontent-ng-c3994083465]:after{position:absolute;right:12px;display:none;}
.header[_ngcontent-ng-c3994083465]   .language[_ngcontent-ng-c3994083465]   .dropdown-toggle[_ngcontent-ng-c3994083465]   .flag-icon[_ngcontent-ng-c3994083465]{border-radius:50%;overflow:hidden;margin-right:4px;width:25px;height:25px;object-fit:cover;}
.header[_ngcontent-ng-c3994083465]   .language[_ngcontent-ng-c3994083465]   svg[_ngcontent-ng-c3994083465]{transition:transform .3s ease;}
.sticky-banner[_ngcontent-ng-c3994083465]{background-color:#000;color:#fff;}
.sticky-banner.header[_ngcontent-ng-c3994083465]{top:76px;}
@media screen and (max-width: 768px){
.sticky-banner.header[_ngcontent-ng-c3994083465]{top:72px;padding:4px;font-size:18px;}
}
/*! CSS Used from: Embedded */
.language[_ngcontent-ng-c2758452829]{text-decoration:none;letter-spacing:.02em;text-transform:capitalize;font-weight:400;}
.language[_ngcontent-ng-c2758452829]   .dropdown-toggle[_ngcontent-ng-c2758452829]{width:100%;}
.language[_ngcontent-ng-c2758452829]   .dropdown-toggle[_ngcontent-ng-c2758452829]   .flag-icon[_ngcontent-ng-c2758452829]{border-radius:50%;overflow:hidden;margin-right:3px;min-width:20px;width:20px;height:20px;object-fit:cover;}
/*! CSS Used from: Embedded */
.home-wrapper[_ngcontent-ng-c978384026]{padding:35px 30px;}
@media screen and (max-width: 576px){
.home-wrapper[_ngcontent-ng-c978384026]{padding:100px 10px 0;}
}
.home-wrapper[_ngcontent-ng-c978384026]   .activecursor[_ngcontent-ng-c978384026]{cursor:default;}
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]{padding:15px 20px;border-radius:12px;border:3px solid #272727;background:#fff;box-shadow:2px 2px #00000040;}
@media screen and (max-width: 576px){
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]{padding:13px;}
}
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   h3[_ngcontent-ng-c978384026],.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   p[_ngcontent-ng-c978384026]{font-size:13px;}
@media screen and (max-width: 576px){
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   h3[_ngcontent-ng-c978384026],.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   p[_ngcontent-ng-c978384026]{font-size:18px;padding:4px 0;}
}
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   .top[_ngcontent-ng-c978384026]{top:-104px;position:absolute;left:5%;}
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   .title[_ngcontent-ng-c978384026]{font-weight:700;}
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   .progress[_ngcontent-ng-c978384026]{border-radius:34px;background:#ef8101;width:30px;height:5px;}
@media screen and (max-width: 576px){
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   .progress[_ngcontent-ng-c978384026]{width:50px;}
}
.home-wrapper[_ngcontent-ng-c978384026]   .card[_ngcontent-ng-c978384026]   .progressHolder[_ngcontent-ng-c978384026]{width:calc(100% - 35px);}
.home-wrapper[_ngcontent-ng-c978384026]   .chart[_ngcontent-ng-c978384026]{padding-right:10px;}
.home-wrapper[_ngcontent-ng-c978384026]   .line1[_ngcontent-ng-c978384026]{border-radius:60px 0 0 46px;background:#ef8101;width:0;height:5px;}
.home-wrapper[_ngcontent-ng-c978384026]   .line2[_ngcontent-ng-c978384026]{background:#73f239;width:0;height:5px;}
.home-wrapper[_ngcontent-ng-c978384026]   .line3[_ngcontent-ng-c978384026]{background:#C318DF;width:0;height:5px;}
.home-wrapper[_ngcontent-ng-c978384026]   .line4[_ngcontent-ng-c978384026]{border-radius:0 42px 40px 0;background:#00aeff;width:0;height:5px;}
.home-wrapper[_ngcontent-ng-c978384026]   .silver-btn[_ngcontent-ng-c978384026]{border-radius:8px;border:2px solid transparent;background:linear-gradient(90deg,#ae8625 .17%,#f7ef8a 40.34%,#d2ac47 66.66%,#edc967 87.3%,#f9f295 100.09%) padding-box,linear-gradient(60deg,#f8ed90,#b28c2a) border-box;box-shadow:1px 1px 1px #00000073;color:#000;width:100%;height:100%;z-index:1!important;position:relative;display:flex;align-items:center;justify-content:center;}
@media screen and (max-width: 576px){
.home-wrapper[_ngcontent-ng-c978384026]   .silver-btn[_ngcontent-ng-c978384026]{padding:10px;}
}
.home-wrapper[_ngcontent-ng-c978384026]   .bottom[_ngcontent-ng-c978384026]{bottom:6px;position:absolute;right:5%;}
.home-wrapper[_ngcontent-ng-c978384026]   .min-height[_ngcontent-ng-c978384026]{min-height:240px;}
.apexcharts-text tspan{font-size:10px;color:#4d5060;font-family:Poppins,sans-serif!important;font-weight:600;}
.truncate[_ngcontent-ng-c978384026]{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:130px;}
.chart-placeholder[_ngcontent-ng-c978384026]{height:250px;display:grid;grid-template-columns:repeat(3,1fr);gap:20px;}
.chart-placeholder[_ngcontent-ng-c978384026]   div[_ngcontent-ng-c978384026]{height:250px;}
@media screen and (max-width: 1024px){
.chart-placeholder[_ngcontent-ng-c978384026]{grid-template-columns:repeat(2,1fr);}
.chart-placeholder[_ngcontent-ng-c978384026]   div[_ngcontent-ng-c978384026]:nth-child(3){display:none;}
}
@media screen and (max-width: 576px){
.chart-placeholder[_ngcontent-ng-c978384026]{grid-template-columns:1fr;}
.chart-placeholder[_ngcontent-ng-c978384026]   div[_ngcontent-ng-c978384026]:nth-child(2){display:none;}
}
.count-down-timer[_ngcontent-ng-c978384026]{max-width:400px;margin-top:30px;padding:10px;font-weight:600;background-color:#fdf4f8;border:3px solid rgba(255,0,122,.1);border-radius:10px;}
@media screen and (max-width: 1024px){
.count-down-timer[_ngcontent-ng-c978384026]{margin-bottom:30px;}
}
.count-down-timer[_ngcontent-ng-c978384026] > p[_ngcontent-ng-c978384026]{margin:5px 0 15px;font-weight:700;font-size:14px;}
.count-down-timer[_ngcontent-ng-c978384026]   .wrapper[_ngcontent-ng-c978384026]   .times[_ngcontent-ng-c978384026]{display:flex;justify-content:space-between;text-align:center;}
.count-down-timer[_ngcontent-ng-c978384026]   .wrapper[_ngcontent-ng-c978384026]   .times[_ngcontent-ng-c978384026]   p[_ngcontent-ng-c978384026]{margin:0;font-size:28px;font-weight:600;position:relative;}
.count-down-timer[_ngcontent-ng-c978384026]   .wrapper[_ngcontent-ng-c978384026]   .description[_ngcontent-ng-c978384026]{margin:0;font-size:11px;font-weight:500;color:#00000080;text-transform:uppercase;}
/*! CSS Used from: Embedded */
.apexcharts-canvas{position:relative;user-select:none;}
.apexcharts-canvas ::-webkit-scrollbar{-webkit-appearance:none;width:6px;}
.apexcharts-canvas ::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,.5);box-shadow:0 0 1px rgba(255,255,255,.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,.5);}
.apexcharts-inner{position:relative;}
.apexcharts-text tspan{font-family:inherit;}
.apexcharts-tooltip{border-radius:5px;box-shadow:2px 2px 6px -4px #999;cursor:default;font-size:14px;left:62px;opacity:0;pointer-events:none;position:absolute;top:20px;display:flex;flex-direction:column;overflow:hidden;white-space:nowrap;z-index:12;transition:.15s ease all;}
.apexcharts-tooltip.apexcharts-theme-light{border:1px solid #e3e3e3;background:rgba(255,255,255,.96);}
.apexcharts-tooltip *{font-family:inherit;}
.apexcharts-tooltip-title{padding:6px;font-size:15px;margin-bottom:4px;}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title{background:#eceff1;border-bottom:1px solid #ddd;}
.apexcharts-tooltip-text-goals-value,.apexcharts-tooltip-text-y-value,.apexcharts-tooltip-text-z-value{display:inline-block;margin-left:5px;font-weight:600;}
.apexcharts-tooltip-text-goals-label:empty,.apexcharts-tooltip-text-goals-value:empty,.apexcharts-tooltip-text-y-label:empty,.apexcharts-tooltip-text-y-value:empty,.apexcharts-tooltip-text-z-value:empty,.apexcharts-tooltip-title:empty{display:none;}
.apexcharts-tooltip-text-goals-label,.apexcharts-tooltip-text-goals-value{padding:6px 0 5px;}
.apexcharts-tooltip-goals-group,.apexcharts-tooltip-text-goals-label,.apexcharts-tooltip-text-goals-value{display:flex;}
.apexcharts-tooltip-text-goals-label:not(:empty),.apexcharts-tooltip-text-goals-value:not(:empty){margin-top:-6px;}
.apexcharts-tooltip-marker{width:12px;height:12px;position:relative;top:0;margin-right:10px;border-radius:50%;}
.apexcharts-tooltip-series-group{padding:0 10px;display:none;text-align:left;justify-content:left;align-items:center;}
.apexcharts-tooltip-series-group:last-child{padding-bottom:4px;}
.apexcharts-tooltip-y-group{padding:6px 0 5px;}
.apexcharts-xaxistooltip,.apexcharts-yaxistooltip{opacity:0;pointer-events:none;color:#373d3f;font-size:13px;text-align:center;border-radius:2px;position:absolute;z-index:10;background:#eceff1;border:1px solid #90a4ae;}
.apexcharts-xaxistooltip{padding:9px 10px;transition:.15s ease all;}
.apexcharts-xaxistooltip:after,.apexcharts-xaxistooltip:before{left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.apexcharts-xaxistooltip:after{border-color:transparent;border-width:6px;margin-left:-6px;}
.apexcharts-xaxistooltip:before{border-color:transparent;border-width:7px;margin-left:-7px;}
.apexcharts-xaxistooltip-bottom:after,.apexcharts-xaxistooltip-bottom:before{bottom:100%;}
.apexcharts-xaxistooltip-bottom:after{border-bottom-color:#eceff1;}
.apexcharts-xaxistooltip-bottom:before{border-bottom-color:#90a4ae;}
.apexcharts-yaxistooltip{padding:4px 10px;}
.apexcharts-yaxistooltip:after,.apexcharts-yaxistooltip:before{top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.apexcharts-yaxistooltip:after{border-color:transparent;border-width:6px;margin-top:-6px;}
.apexcharts-yaxistooltip:before{border-color:transparent;border-width:7px;margin-top:-7px;}
.apexcharts-yaxistooltip-left:after,.apexcharts-yaxistooltip-left:before{left:100%;}
.apexcharts-yaxistooltip-left:after{border-left-color:#eceff1;}
.apexcharts-yaxistooltip-left:before{border-left-color:#90a4ae;}
.apexcharts-xcrosshairs,.apexcharts-ycrosshairs{pointer-events:none;opacity:0;transition:.15s ease all;}
.apexcharts-ycrosshairs-hidden{opacity:0;}
.apexcharts-hidden-element-shown{opacity:1;transition:0.25s ease all;}
.apexcharts-datalabels{cursor:default;pointer-events:none;}
.apexcharts-gridline,.apexcharts-line,.apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events{pointer-events:none;}
.apexcharts-marker{transition:.15s ease all;}
/*! CSS Used fontfaces */
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:Poppins;font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format("woff2");unicode-range:u+0900-097f,u+1cd0-1cf6,u+1cf8-1cf9,u+200c-200d,u+20a8,u+20b9,u+25cc,u+a830-a839,u+a8e0-a8fb;}
@font-face{font-family:Poppins;font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format("woff2");unicode-range:u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff;}
@font-face{font-family:Poppins;font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format("woff2");unicode-range:u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd;}